# IntelliJ Idea user config
*/.idea/$CACHE_FILE$
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/dataSources*

# Byte-compiled / optimized / DLL files
__pycache__/
out/
*.py[cod]
*.class

# Databases
*.db
*.mysql
*.json
*.csv

# Distribution / packaging
virtualenv/
.Python
env/
venv/

# Translations
*.mo
*.pot
