<div class="container">
  <!--  Attach HTML formGroup and AppComponent's _form-->
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">

      <!--      <pre>Errors: {{form.get('email').errors|json}}</pre>-->
      <div
        class="validation"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <small *ngIf="form.get('email').errors.required">
          Field email cannot be empty.
        </small>
        <small *ngIf="form.get('email').errors.email">
          Type correct email.
        </small>
        <small *ngIf="form.get('email').errors.restrictedEmail">
          Email {{form.get('email').value}} is restricted.
        </small>
        <small *ngIf="form.get('email').errors.uniqEmail">
          Email {{form.get('email').value}} isn't available.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">

      <!--      <pre>Errors: {{form.get('password').errors|json}}</pre>-->
      <div
        class="validation"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <small *ngIf="form.get('password').errors.required">
          Password can not be empty.
        </small>
        <small *ngIf="form.get('password').errors.minlength">
          Password should be longer than
          {{form.get('password').errors.minlength.requiredLength}}
          characters.
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="City">
      </div>

      <button class="btn" type="button" (click)="setCapital()">Выбрать столицу</button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button" (click)="addSkill()">Добавить умение</button>

      <div
        class="form-control"
        *ngFor="let control of form.get('skills').controls; let idx = index;"
      >
        <label>Умение {{idx + 1}}</label>
        <input type="text" [formControlName]="idx">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Отправить</button>

  </form>
</div>
