<html>
<body>

<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Type message"/>
        <input type="text" name="tag" placeholder="Tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
</div>

<div>Message list</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Find</button>
</form>

{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
</div>
{{/messages}}

</body>
</html>
