<div class="container">
  <h1>Angular Directives</h1>

  <p appStyle="red" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, distinctio.
  </p>

  <p appStyle="blue" [dStyles]="{border: '1px solid blue', borderRadius: '15px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quod.
  </p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

  <!--  <div *ngIf="isVisible" class="wrap">-->
  <!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consequatur deserunt eaque et-->
  <!--      obcaecati odio ullam veniam vero!</p>-->
  <!--  </div>-->

  <!--  <ng-template [ngIf]="isVisible">-->
  <!--    <div class="wrap">-->
  <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consequatur deserunt eaque et-->
  <!--        obcaecati odio ullam veniam vero!</p>-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <div class="wrap" *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consequatur deserunt eaque et
      obcaecati odio ullam veniam vero!</p>
  </div>

  <ng-template [appIfnot]="!isVisible">
    <div class="wrap" *appIfnot="!isVisible">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consequatur deserunt eaque et
        obcaecati odio ullam veniam vero!</p>
    </div>
  </ng-template>

</div>
