<div class="container">
  <h1>Angular Pipes</h1>

  <p>Wait for it... {{ p | async }}</p>
  <p>Time(async): {{ observableDate$ | async | date:'HH:mm:ss' }}</p>
  <p>Time (sub) : {{ subscribeDate | date:'HH:mm:ss' }}</p>
  <hr>

  <p>
    {{ initialDate | date:'yyyy/MM/dd | HH:mm' }}
  </p>

  <button class="btn" (click)="searchField = 'title'">Title</button>
  <button class="btn" (click)="searchField = 'text'">Text</button>
  <hr>
  <button class="btn" (click)="addPost()">Add new post</button>

  <input type="text" [(ngModel)]="search">
  <div
    *ngFor="let post of posts | filter:search:searchField"
    class="card"
  >
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div>

  <p>{{ 10 | mult:3 }}</p>
  <p>{{ 'Hello world ' | exMarks }}</p>
</div>
